<!DOCTYPE html>
<html>
<head>
    <title>Live Video Stream</title>
</head>
<body>
    <h1>Live Video Feed</h1>
    <img src="/video_feed" width="640" height="480">

    <br><br>
    <button onclick="sendCommand('Start')">Start</button>
    <button onclick="sendCommand('Stop')">Stop</button>

    <div id="status">Waiting for connection...</div>

    <script>
        function sendCommand(command) {
            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ command: command })
            })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }

        function checkClientStatus() {
            fetch('/client_status')
            .then(response => response.json())
            .then(data => {
                if (data.connected === true) {
                    document.getElementById("status").innerText = "Client Connected!... Press Start when you're ready to request PC to start streaming";
                } else {
                    document.getElementById("status").innerText = "Waiting for connection... Pressing Start won't do anything yet";
                }
            })
            .catch(err => console.error(err));
        }

    setInterval(checkClientStatus, 1000); // Poll every 1 second
    </script>
</body>
</html>