<!DOCTYPE html>
<html>
<head>
    <title>Live Video Stream</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>
    <h1>Live Video Feed</h1>
    <img src="/video_feed" width="640" height="480">

    <br><br>
    <button onclick="sendCommand('Start')">Start</button>
    <button onclick="sendCommand('Stop')">Stop</button>

    <div id="status">Waiting for connection...... Pressing Start or Stop won't do anything yet</div>

    <script>
        function sendCommand(command) {
            fetch('/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ command: command })
            })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }

    async function checkClientStatus() {  
        try {
            // need to await every async operation to take advantage of "long-polling"
            const response = await fetch('/client_status');
            const data = await response.json();

            if (data.connected === true) {
                document.getElementById("status").innerText =
                    "PC Client Connected!. Press Start to request PC to start streaming and Stop to request PC to stop streaming";
            } else {
                document.getElementById("status").innerText =
                    "PC disconnected... Pressing Start or Stop won't do anything yet";
            }
            await checkClientStatus(); // the recursive call itself obviously must be awaited for subsequent runs to be synchronous
        } catch (err) {
            console.error(err);
        } 
    }    
    checkClientStatus()

    async function reloadCheck_checkClientStatus() {
        const response = await fetch('/client_status_reloadCheck');
        const data = await response.json();
        if (data.connected === true) {
                document.getElementById("status").innerText =
                    "PC Client Connected!. Press Start to request PC to start streaming and Stop to request PC to stop streaming";
            } else if (data.connected === false)  {
                document.getElementById("status").innerText =
                    "PC disconnected... Pressing Start or Stop won't do anything yet";
            }
            // no need to check for None, just do nothing
    }
    reloadCheck_checkClientStatus()

    </script>
</body>
</html>